@use "./primitives" as *;

$light-theme: (
  base: (
    white: $clr-base-white,
    black: $clr-base-black,
  ),
  surface: (
    25: $clr-base-white,
    50: $clr-gray-50,
  ),
  text: (
    title: $clr-gray-900,
    body: $clr-gray-700,
    label: $clr-gray-500,
  ),
  primary: (
    on: $clr-base-white,
    main: $clr-primary-500,
    light: $clr-primary-200,
    dark: $clr-primary-600,
    darker: $clr-primary-700,
  ),
  secondary: (
    on: $clr-base-white,
    main: $clr-secondary-500,
    light: $clr-secondary-200,
    dark: $clr-secondary-600,
    darker: $clr-secondary-700,
  ),
);

$dark-theme: (
  base: (
    white: $clr-base-white,
    black: $clr-base-black,
  ),
  surface: (
    25: $clr-gray-900,
    50: $clr-gray-800,
  ),
  text: (
    title: $clr-base-white,
    body: $clr-gray-200,
    label: $clr-gray-400,
  ),
  primary: (
    on: $clr-gray-900,
    main: $clr-primary-200,
    light: $clr-primary-700,
    dark: $clr-primary-300,
    darker: $clr-primary-200,
  ),
  secondary: (
    on: $clr-gray-900,
    main: $clr-secondary-500,
    light: $clr-secondary-700,
    dark: $clr-secondary-300,
    darker: $clr-secondary-200,
  ),
);

$primary-theme: (
  base: (
    white: $clr-base-white,
    black: $clr-base-black,
  ),
  surface: (
    25: $clr-primary-900,
    50: $clr-gray-800,
  ),
  text: (
    title: $clr-base-white,
    body: $clr-gray-200,
    label: $clr-gray-400,
  ),
  primary: (
    on: $clr-gray-900,
    main: $clr-primary-200,
    light: $clr-primary-700,
    dark: $clr-primary-300,
    darker: $clr-primary-200,
  ),
  secondary: (
    on: $clr-gray-900,
    main: $clr-secondary-500,
    light: $clr-secondary-700,
    dark: $clr-secondary-300,
    darker: $clr-secondary-200,
  ),
);

$themes: (
  light: $light-theme,
  dark: $dark-theme,
  primary: $primary-theme,
);
